.users {
    &-title {
        font-size: 1.5rem;
        text-transform: uppercase;
        @include mobile($bp-xs){
            font-size: 2rem;
        }
        @include mobile($bp-sm){
            font-size: 2.5rem;
        }
    }
    &-flex {
        flex-direction: column;
    }
    &-content {
        @include desktop($bp-sm){
            width: 100%;
        }
    }
}
