body{
	font-family: Poppins;
	color: #2c3e50;
	-webkit-font-smoothing: antialiased;
}
body::-webkit-scrollbar-track {
	/*box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	background-color: rgba(0,0,0,0);
	border-radius: 5px;
}
body::-webkit-scrollbar{
	width: 10px;	
}
body::-webkit-scrollbar-thumb{
	background-color: rgba(0, 0, 0, .3);
	border-radius: 5px;
}
p a{
	font-size: 24px;
	color: #2c3e50;
	text-decoration: none;
	transition: .5s;
}
p a:hover{
	text-decoration: underline;
	color: #42b983;
}
.layout{
	width: 1200px;
	margin: 20px auto;
	columns: 4;
	column-gap: 40px;
}
.layout .box{
	width: 100%;
	margin: 0 0 20px;
	padding: 10px;
	overflow: hidden;
	break-inside: avoid;
}
.layout .box img{
	max-width: 100%;
	display: block;
}
@media (max-width: 1300px){
	.layout{
		columns: 4;
		width: calc(100% - 40px);
		box-sizing: border-box;
		padding: 20px 20px 20px 0;
	}
}
@media (max-width: 1200px){
	.layout{
		columns: 3;
	}
}
@media (max-width: 768px){
	.layout{
		columns: 2;
	}
}
@media (max-width: 480px){
	.layout{
		columns: 1;
	}
}